.link {
	cursor: pointer;
}

.autocomplete {
	z-index: 1;
	color: #333;
	margin: 0px;
	padding: 0px;
	display: block;
	position: absolute;
	outline: medium none;
	border: 1px solid #DDD;
	list-style: outside none none;
	background: #EEE none repeat-x scroll 50% top;
}

.autocomplete li {
	margin: 0px;
	cursor: pointer;
	min-height: 0px;
	position: relative;
	padding: 3px 1em 3px 0.4em;
}

.autocomplete li:hover {
	color: #C77405;
	font-weight: bold;
	border: 1px solid #FBCB09;
	background: #FDF5CE none repeat-x scroll 50% 50%;
}

div.page-loader {
	opacity: 0.8;
	z-index: 1000;
	position: fixed;
    filter: alpha(opacity=380);
}

div.page-loader div.page-loader-container {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 1.0;
	z-index: 999999;
	position: fixed;
	background-color: #333333;
}

div.page-loader div.page-loader-container.ng-leave {
	opacity: 1.0;
	transition: all linear 200ms;
	-webkit-transition: all linear 200ms;
}

div.page-loader div.page-loader-container.ng-leave-active {
	opacity: 0;
}

#loader {
	left: 0;
	top: 50%;
	right: 0;
	width: 90px;
	margin: auto;
	position: fixed;
}

#loader ul {
	margin: 0;
	padding: 0;
	width: 90px;
	height: 65px;
	list-style: none;
	position: relative;
}

#loader ul li {
	height: 0;
	bottom: 0;
	width: 10px;
	position: absolute;
	background-color: #FFF;
}

@keyframes sequenceOne {
	0% {
		height: 10px;
	}
	50% {
		height: 50px;
	}
	100% {
		height: 10px;
	}
}

@keyframes sequenceTwo {
	0% {
		height: 20px;
	}
	50% {
		height: 65px;
	}
	100% {
		height: 20px;
	}
}

#loader li:nth-child(1) {
	left: 0;
	animation: sequenceOne 1s ease infinite 0;
}

#loader li:nth-child(2) {
	left: 15px;
	animation: sequenceTwo 1s ease infinite 0.1s;
}

#loader li:nth-child(3) {
	left: 30px;
	animation: sequenceOne 1s ease-in-out infinite 0.2s;
}

#loader li:nth-child(4) {
	left: 45px;
	animation: sequenceTwo 1s ease-in infinite 0.3s;
}

#loader li:nth-child(5) {
	left: 60px;
	animation: sequenceOne 1s ease-in-out infinite 0.4s;
}

#loader li:nth-child(6) {
	left: 75px;
	animation: sequenceTwo 1s ease infinite 0.5s;
}