<nav class="navbar navbar-default" ng-controller="Menu">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand link" ng-click="index();">Bancas</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a class="link" ng-click="exibirDias();">Dias</a></li>
				<li><a class="link" ng-click="exibirHorarios();">Horarios</a></li>
				<li><a class="link" ng-click="exibirTrabalhos();">Trabalhos</a></li>
			</ul>
		</div>
	</div>
</nav>
